html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 1400px;
  margin-top: 40px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.slightly-larger-text {
	font-size: larger;
}
.dotted-underline {
	border-bottom: 1px dotted #000;
	text-decoration: none;
}
#footer-block {
	align-content: center;
	text-align: center;
}
.active-page {
	text-decoration: underline;
}

.text-size-6em {
	font-size: 6em;
}

.text-size-0point6em {
	font-size: 0.6em
}